* {
  margin: 0;
  padding: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

img {
  vertical-align: middle;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .logo {
  width: 30%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: red;
}

nav .nav-item {
  width: 70%;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

nav .nav-item ul li {
  display: inline-block;
  padding: 0 20px;
}

nav .nav-item ul li a {
  color: #222;
  font-weight: 700;
  text-transform: uppercase;
  background-color: orange;
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

nav .nav-item ul li a:hover {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

img {
  vertical-align: middle;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner {
  width: 100%;
  height: 250px;
  background-color: green;
}

.banner h1 {
  text-align: center;
  color: #fff;
  line-height: 250px;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

img {
  vertical-align: middle;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about {
  margin-top: 15px;
}

.about-img {
  width: 45%;
  height: 200px;
  background-color: red;
}

.about-img h2 {
  text-align: center;
  color: #fff;
}

.about-text {
  width: 50%;
  height: 200px;
  background-color: blue;
}

.about-text h2 {
  text-align: center;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

img {
  vertical-align: middle;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: 350px;
  background-color: transparent;
}

.service-item {
  width: 30%;
  height: 350px;
  background-color: green;
}

.service-item h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 350px;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

img {
  vertical-align: middle;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery {
  width: 100%;
  height: 240px;
  background-color: transparent;
  margin-bottom: 15px;
}

.gal-item {
  width: 25%;
  height: 240px;
  background-color: #71f04b;
  border: 1px solid black;
}

.gal-item h2 {
  text-align: center;
  color: #010000;
  line-height: 240px;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

img {
  vertical-align: middle;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact {
  width: 100%;
  height: 40px;
  background-color: orange;
}

.contact h2 {
  color: #fff;
  text-align: center;
  line-height: 40px;
}
/*# sourceMappingURL=main.css.map */